*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url('pexels-darius-krause-2470655.jpg');
    block-size: 280%;
    background-position: -400px 0px;
}
h1{
    font-size: 60px;
    font-style: italic;
    font-weight: 500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 20px;
    color: #000;
}
.contact-me{
    width: 600px;
    height: 100%;
    margin: 100px auto 0 auto;
    background-color: #fff;
    background-color: rgba(0,0,0,0.2);
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.3);
    color: #fff;
}